@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Kumbh+Sans&display=swap");

/* 
font-family: 'Carter One', cursive;
font-family: 'Kumbh Sans', sans-serif; 
*/

html {
	height: 100vh;
}

body {
	background-image: url("/img/white-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.heading {
	text-align: center;
	margin-top: 200px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading h1 {
	font-family: "Carter One", cursive;
	font-size: 3em;
	letter-spacing: 3px;
}

.content {
	margin: 3em;
}

.content input,
.content button {
	margin: 0 0.5em;
	padding: 0.5em;
}

#display {
	font-family: "Kumbh Sans", sans-serif;
}

.is-palindrome {
	color: rgb(51, 143, 51);
}

.is-not-palindrome {
	color: rgb(209, 83, 83);
}
