@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Kumbh+Sans&display=swap");

/* 
font-family: 'Carter One', cursive;
font-family: 'Kumbh Sans', sans-serif; 
*/

html {
	height: 100vh;
}

body {
	background-image: url("/img/white-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.heading {
	text-align: center;
	margin-top: 200px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading h1 {
	font-family: "Carter One", cursive;
	font-size: 3em;
	letter-spacing: 3px;
}

.content {
	margin: 3em;
}

.content input,
.content button {
	font-family: "Kumbh Sans", sans-serif;
	margin: 0 0.5em;
	padding: 0.5em;
}

#display {
	font-family: "Kumbh Sans", sans-serif;
}

.is-palindrome {
	color: rgb(51, 143, 51);
}

.is-not-palindrome {
	color: rgb(209, 83, 83);
}

.footnote {
	font-size: 1.2em;
	font-family: "Carter One", cursive;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 2em;
	width: 100%;
	background-color: rgb(197, 174, 174);
	color: white;
	text-align: center;
}


.shake {
	color: rgb(129, 87, 38);
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 5s;
  
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
  }
  
  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }